*.7z
*.bat
*.bik
*.cfg
*.config
*.dll
*.dxvk-cache
*.exe
*.ini
*.lnk
*.log
*.py
*.sh
*.txt
*.zip

data/**/*.blend
data/**/*.hmt
data/**/*.jma
data/**/*.jmo
data/**/*.jms
data/**/*.jxl
data/**/*.png
data/**/*.psd
data/**/*.sh
data/**/*.tif
data/**/*.tiff

maps/*.map

shaders/*.bin

!build.sh
