*.7z
*.bat
*.cfg
*.config
*.dll
*.exe
*.lnk
*.py
*.sh
*.txt
*.zip

data/**/*.blend
data/**/*.hmt
data/**/*.jma
data/**/*.jmo
data/**/*.jms
data/**/*.jxl
data/**/*.png
data/**/*.psd
data/**/*.sh
data/**/*.tif
data/**/*.tiff

maps/*.map

shaders/*.bin
